---
import LandingSegmentLayout from "../layouts/LandingSegmentLayout.astro";
---

<LandingSegmentLayout>
  <h2 class="text-2xl md:text-4xl font-light text-center mb-16 mt-12">
    What We Do
  </h2>

  <div class="grid md:grid-cols-3 gap-12">
    <div class="flex flex-col items-center text-center">
      <div class="bg-blue-50 p-6 rounded-full mb-6">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-database"
          ><ellipse cx="12" cy="5" rx="9" ry="3"></ellipse><path
            d="M3 5V19A9 3 0 0 0 21 19V5"></path><path d="M3 12A9 3 0 0 0 21 12"
          ></path></svg
        >
      </div>
      <h3 class="text-lg md:text-xl font-light mb-4">Smart Data Collection</h3>
      <p class="text-gray-600 font-light">
        We gather valuable data from diverse sources including websites,
        databases, IoT sensors, raw PowerPoints and PDFs. Our automated
        intellegence systems ensure you have the most current and relevant
        information.
      </p>
    </div>

    <div class="flex flex-col items-center text-center">
      <div class="bg-blue-50 p-6 rounded-full mb-6">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8 13v-1m4 1v-3m4 3V8M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"
          ></path>
        </svg>
      </div>
      <h3 class="text-lg md:text-xl font-light mb-4">
        Interactive Visualization
      </h3>
      <p class="text-gray-600 font-light">
        Transform complex data into clear insights through custom dashboards,
        interactive maps, and AI-powered interfaces. We build tools that make
        your data accessible and actionable.
      </p>
    </div>

    <div class="flex flex-col items-center text-center">
      <div class="bg-blue-50 p-6 rounded-full mb-6">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-8 w-8"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-zap"
          ><path
            d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"
          ></path></svg
        >
      </div>
      <h3 class="text-lg md:text-xl font-light mb-4">
        Predictive Intelligence
      </h3>
      <p class="text-gray-600 font-light">
        Leverage advanced AI and machine learning to uncover patterns and
        predict trends. Our models help you make data-driven decisions and stay
        ahead of market changes.
      </p>
    </div>
  </div>
</LandingSegmentLayout>
