---
import fcLogo from "../assets/fc_logo.svg";
---

<div class="py-16 bg-gray-50">
  <div class="max-w-7xl mx-auto px-8">
    <p class="text-center text-gray-500 text-sm uppercase tracking-wider mb-8">
      Featured By
    </p>
    <div class="flex justify-center">
      <a
        href="https://www.fastcompany.com/91294411/trump-removed-an-online-tool-that-predicts-your-climate-risk-rogue-data-scientists-rebuilt-it"
      >
        <img
          src={fcLogo.src}
          alt="Fast Company Logo"
          class="h-8 opacity-60 hover:opacity-100 transition-opacity invert"
        />
      </a>
    </div>
  </div>
</div>
